<% layout('layouts/boilerplate') -%>
    <div class="row mt-3">
        <div class="col-6 offset-3">
            <form action="/products" method="POST">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-default">Product Name</span>
                    <input type="text" class="form-control" aria-label="name"
                        aria-describedby="inputGroup-sizing-default" name="product[name]" required>
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text">$</span>
                    <input type="text" class="form-control" name="product[price]" required>
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text">Image URL</span>
                    <input type="text" class="form-control" name="product[image]" required>
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text">Quantity</span>
                    <input type="text" class="form-control" name="product[quantity]" required>
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text">Description</span>
                    <input type="text" class="form-control" name="product[description]" required>
                </div>
                <button class="btn btn-success">Add product</button>

            </form>
        </div>
    </div>